body {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background: linear-gradient(to right, #6aa328, #cc00738a);
    text-align: center;
    padding: 20px;
    overflow-x: hidden;
}
